@charset "utf-8";
#Main{ margin:10px 5px;}
.newst{ margin-top:30px;}
.newst ul{margin:0; padding:0;}
.newst ul li{list-style:none; line-height:26px;}
.newst ul li dt{float:left;}
.newst .dtwid{width:600px;}